.footer-hobbie-details  {
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3C000000,endColorstr=#3C000000);
    zoom: 1;
    margin: 0 auto;
    width: 350px;
    color: #494969;
  }

  .footer {
    position:absolute;
    bottom:0px;
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3C000000,endColorstr=#3C000000);
    zoom: 1;
    margin: 0 auto;
    width: 90%;
    color: #494969;
  }