.footer_hobbie_details {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3C000000,endColorstr=#3C000000);
  zoom: 1;
  margin: 0 auto;
  width: 280px;
  color: #494969;
  padding-bottom: 15px;
}

.footer {
  position: absolute;
  margin-top: 40px;
  margin: 1% 5%;
  bottom: 0px;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3C000000,endColorstr=#3C000000);
  zoom: 1;
  width: 90%;
  color: #494969;
}

.footer_cover {
  position: absolute;
  height: 40px;
  margin-top: 40px;
  margin-left: 5%;
  bottom: 0px;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3C000000,endColorstr=#3C000000);
  zoom: 1;
  width: 90%;
  color: #494969;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .footer {
    font-size: 14px;
    position: relative;
    padding-top: 3%;
    margin-left: 5%;
  }
  .footer_cover {
    position: fixed;
    bottom: 1%;
  }
}

@media all and (max-width: 600px) {
  .footer_cover {
    font-size: 14px;
    padding-top: 5%;
    margin-bottom: 3%;
  }
  .footer_hobbie_details {
    font-size: 14px;
    padding-left: 3%;
  }
}
