
  .navbar{
    width: 40%;
    padding: 5px;
  }
  
  .nav_links{
    display:flex;
    justify-content: space-around;
    list-style: none;
  }


  
  .nav_link{
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;

  }


  @media all and (min-width: 900px) { 
    .popup_menu {
      display: none;
    }
    .menu {
      display: none;
    }
  
    .nav_link{
      font-size: 16px;
    }
  } 

  @media all and (max-width: 1000px) {
    .nav_link{
      font-size: 14px;
    }
  }

@media all and (max-width: 900px) { 

  .menu{
    float: right;
    padding-right: 20px;
    top: -10px;
    font-size: 32px;
    color: rgb(135, 158, 187);
    cursor: pointer;
    font-weight:200;
    position: relative;
    top: 0px;
    right: 10px;
  }
  .nav_links_popup{
    color: rgb(135, 158, 187);
    list-style: none;
    z-index: 2;
    padding: 5px;
  }


  .popup_menu {
    z-index: 99 !important; 
    position: absolute;
    padding: 5px;
    top: 6%;
    right: 5%;
    width: auto;
    height: auto;
    box-shadow: -2px 0px 33px 0px rgba(0,0,0,0.15);
  }


  .nav_links{display: none;}
  .nav_link {
    font-size: 12px;
    line-height: 30px;
  }

} 

