
  .navbar{
    width: 50%;
  }
  
  .nav-links{
    justify-content: space-around;
    list-style: none;
  }
  
  .nav-link{
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
  }
