

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* for debug: */
    /* border: 1px solid red; */

}
body {
    font-family: 'Poppins', sans-serif;
    border: 1px solid transparent;
    padding-bottom: 20px;

}

.testBody{
    font-family: 'Poppins', sans-serif;
    height: 135vh;
}

button{
    font-family: 'Poppins', sans-serif;
}
a {
    color: #23272b;
    text-decoration: none;
}

h2{
    background: linear-gradient(to right, #494969,#696989);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.loginh1{
    padding-top: 100px;
    background: linear-gradient(to right, #494969,#696989);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.checkbox {
    background: linear-gradient(to right, #494969,#696989);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.logo-container, .nav-links, .cart{
    display:flex;
}

.logo {
    font-weight: 400px;
    margin: 1px;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

    
.imgHeader{
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    padding: 0%;
    margin: 0%;
}

header{
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
}

.logo-container{


    flex: 1;
}

nav {

    flex: 2;
}

.cart{

    flex: 1;
    justify-content: flex-end;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;

}

.introduction {
    width: 50%;
    
}

.cover {
    flex: 1;
}

.cover img {
    height: 60vh;
    /* filter: drop-shadow(0px, 5px, 3px, black); */
}

.intro-text h1{
    font-size: 44px;
    background: linear-gradient(to right, #494969,#696989);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #4b4a61;
}

.cta {
    padding: 50px 0px 0px 0px;

}

.cta_add {
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer ;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 30px 30px 0px 0px;
}

.cta_second{
    border: 2px solid #c36cbb;
    background:  #c36cbb;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer ;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.cta_second_s {
    color: #c36cbb;
    background: #fefefe;
    width: 150px;
    height: 50px;
    cursor: pointer ;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.drawing{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    color: #494969;
    z-index: -1;
    width: 72%;

}

.blueImg{
    position: absolute;
    bottom: 0px;
    height: 100%;
    color: #494969;
    z-index: -1;
    opacity: 0.1;

}

.blueImg2{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    color: #494969;
    z-index: -1;
    opacity: 0.1;

}

.test{

    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;


}


form {
    width: 50%;
    position: relative;
    height: 60px;
    border: none;
    margin-top: 20px;

}

.login {
    padding-top: 40px;
}

.form-field {

    position: relative;
    height: 50px;
    overflow: hidden;
    margin-top: 50px;
}

.form-field-radio {
    position: absolute;
    height: 50px;
    overflow: hidden;
    padding-top: 30px;
    color:  #595f6e;

}

.form-field-radio input {

    color:  #595f6e;
}

.form-field input {
    width: 100%;
    height: 100%;
    color:  #595f6e;
    padding-top: 30px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;

}

.form-field label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.form-field label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform  0.3s ease;
}


.content-name{

    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
    color: #5fa8d3;


}

.form-field input:focus + .label-name  .content-name,
.form-field input:valid + .lable-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.form-field input:focus + .label-name::after,
.form-field input:valid + .label-name::after{
    transform: translateX(0%);
}

.radio-choice-section{
    position: relative;
    height: 70px;
    overflow: hidden;
    margin-top: 50px;
    color:  #595f6e;
}



.dropdown:hover{
    color: rgb(224,224,224);
}
input[type=checkbox] {
    transform: scale(1.5);
}

input[type=checkbox] {
    width: 20px;
    height: 2   0px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 17px;
    visibility: hidden;
    margin-top: 40px;
    overflow-wrap: normal;
    margin-bottom: 40px;


}

input[type=checkbox]:after {
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 5px;
    color: #00BFF0;
    width: 22px;
    height: 12px;
    visibility: visible;
    border: 1px solid #00BFF0;
    padding-left: 3px;

    border-radius: 5px;

}

input[type=checkbox]:checked:after {
    content: "\2714";
    padding: -5px;
    font-weight: bold;

}


.checkbox {

    padding-left: 30px;
    margin-top: 50px;
    align-content: center;
}

.button2 {background-color: #00BFF0;
    padding: 10px 10px 10px 10px;
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 5px;
    color: #00BFF0;
    width: 100px;
    height: 50px;
    visibility: visible;
    border: 1px solid #00BFF0;
    padding-left: 3px;
    border-radius: 5px;
    margin-bottom: 60px;
}


.radio-choice-section:hover input ~ .checkmark {
    background-color: #ccc;
}

.form-test{

    content: " ";
    background-color: #fff;
    display: inline-block;
    padding: 15px;
    color:   #595f6e;
    height: 60px;
    visibility: visible;
    border: 1px solid #00BFF0;
    border-radius: 5px;
    margin-top: 60px;
    width: 100%;
}


/* new css for home pages*/
.blueImg3{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    color: #494969;
    z-index: -1;
    opacity: 0.2;
}
.blueImg4{
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 100%;
    color: #494969;
    z-index: -1;
    opacity: 0.1;
}
.blue {
    opacity: 0.0;
    z-index: -1;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}


.footer {
    /*position:absolute;*/
    bottom:0;
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3C000000,endColorstr=#3C000000);
    zoom: 1;
    margin: 0 auto;
    width: 90%;
    color: #494969;
}
/* home pages css */
.menu {
    grid-row: 1/span 2;
    padding : 150px 800px 75px 250px;
    color: #494969;

}

h3{
    border-bottom: 1px solid  #494969;;
}

.classes{
    width: 1000px;
}

.user_home{
    display:grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0px ;
}

.text_medium{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:white   ;
}


.cards{
    grid-column: 2/ span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.card{
    grid-column-end: span 4;
    display:  flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5 ease 0s;
    background: linear-gradient(to right, #494969,#696989);

}

.card_image-container{

    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}
.card_image-container img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card_content{
    padding: 20px;
}

.card_title{
    margin-bottom: 20px;
}
.card_info{
    display: flex;
    align-self: end;
    align-items: center;
}
.card_price{
    margin-left:auto;
    padding: 5px, 20px;
    /* background: linear-gradient(to right, #494969,#373757);
    font-size: 16px; */
}

.card:hover{
    transform: translateY(-7px);
}

@media only screen and (max-width: 1000px) {
    .card{grid-column-end: span 6;}
}
@media only screen and (max-width: 700px) {
    .user_home{
        grid-gap: 20px;
    }
    .card{grid-column-end: span 12;}


}

@media only screen and (max-width: 500px) {
    .user_home{

        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }

    .cards{
        grid-column: 2/ span 6;
        grid-template-columns: repeat(6,1fr);
        grid-gap: 20px;
    }
    .card{grid-column-end: span 6;}

}

.greeting{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:  #5f5f79
    /* background: linear-gradient(to right, #494969,#696989);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

/* errors class */

.errors{
    font-size: 14px;
    color: #c36cbb;
}

/* add offer page */

.form-field-photos{

    position: relative;
    height: 50px;
    overflow: hidden;
    margin-top: 50px;
}

input image{
    justify-content: space-around;
    list-style: none;
}

input file{
    border: none;
}

.button3{
    margin-left: 40px;

}

.create_offer{
    width: 90%;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;

}

#category {

    margin-top: 20px;
}


.column {
    float: right;
    width: 80%;


}
.row_upload{
    padding-top: 10px;
}


textarea {background-color: #00BFF0;
    padding: 20px 20px 20px 20px;
    content: " ";
    background-color: #fff;
    display: inline-block;
    color: #595f6e;
    width: 100%;
    height: 200px;
    visibility: visible;
    border: 1px solid #00BFF0;
    margin-top: 20px;
    border-radius: 5px;
}

.form-field2{

    margin: 20px 0 20px 0;
    padding: 0px;
    width: 100%;
    height: 100%;

}

.form-field2 .h_n{
    background-color: #00BFF0;
    padding: 20px 20px 20px 20px;
    content: " ";
    background-color: #fff;
    display: inline-block;
    color: #595f6e;
    width: 100%;
    visibility: visible;
    border: 1px solid #00BFF0;
    margin-top: 20px;
    border-radius: 5px;
}

.coBody{
    font-family: 'Poppins', sans-serif;
    height: auto;
}

textarea{ font-family: 'Poppins', sans-serif;}


/* hobbie-details-page , account-details-page*/


.hobbie-main {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.hobbie-container{
    padding: 60px;
    width: 70%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "cover content";
    box-shadow: -2px 0px 33px 0px rgba(0,0,0,0.15);


}

.hobbie-cover{
    grid-area: cover;
    height: auto;
    background-image: url(/img/coverImg.png);
    background-position: center center;
    background-size: cover;
}
.account-cover{
    grid-area: cover;
    height: auto;
    background-image: url(/img/coverImg.png);
    background-position: center center;
    background-size: cover;
}

.hobbie-content{
    grid-area: content;
    height:auto;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

}

.hobbie-content-body{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 10px;
}

.account-content-body{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    padding-bottom: 130px;
    padding-top: 130px;
    padding-inline-start: 30px;
}


.hobbie-pages{
    width: 150%;
    height: 40%;
    display: flex;
    color:gray;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    position: relative;
    transform: translateY(38px);
    margin-top: 70px;

}

.hobbie-pages span{
    margin-top: 40px;

}
.hoobie-lable{
    width: 80%  ;
}

.hobbie-lable p {
    padding-top: 40px;
    font-size: 16px;
    width: 85%;
    color: gray;
    padding-bottom: 10px;
}

.hobbie-title{
    font-size: 64px;
    background: linear-gradient(to right, #494969,#696989);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.account-title{
    background: linear-gradient(to right, #494969,#696989);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prix{
    margin: 50px 0px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    border-left: 4px solid rgb(255,177,33);
    background: linear-gradient(to right, #494969,#696989);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.prix span{
    padding-left: 10px;
}

.add-crt-edit{
    color: rgb(255,177,33);
    left: 2px;
    border-bottom: 1px solid rgb(177,177,177);

}

.hobbie-active{
    color: black;
    position: relative;
    transform: translateX(10px);
    background: linear-gradient(to right, #494969,#696989);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hobbie-active::before{
    position: absolute;
    content: "";
    display: block;
    width: 37px;
    right: 137%;
    top: 45%;
    background-color: #555;

    min-height: 1px;
    z-index: 1;
}

b{
    padding: 0%;
}

.footer{

    bottom : 0;
    height : 40px;
    margin-top : 40px;
    margin-left: 5%;
}

    .account-label p {

    font-size: 16px;
    width: 100%;
    color: gray;
        white-space:pre-wrap;

}
    .hobbie-lable p {
        white-space:pre-wrap;
    }

    .edit-offer{   color: rgb(255,177,33);
        left: 2px;
        border-bottom: 1px solid rgb(177,177,177);
        display: flex;
    }

    .background{
        padding: 60px;
        width: 1200px;
        box-shadow: -2px 0px 33px 0px rgba(0,0,0,0.15);
        background-color: #fefefe;
    }
    .entries{
        border-bottom: 1px solid #494969;
    }
    .noButton{
        background-color: transparent;
        border: none;
    }