<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments/fragments::head"/></div>
<body>
<header>
    <div th:replace="fragments/fragments::logo"/></div>
    <div th:replace="fragments/fragments::navbar"/></div>
    <div th:replace="fragments/fragments::cart"/></div>
</header>
<main class="hobbie-main">
    <div class="hobbie-container">
        <div class="account-cover"></div>

        <div class="hobbie-content">
            <div class="account-content-body">

                <div th:object="${client}" class="account-label">
                    <span class="account-title"><b>Account info</b></span>
                    <br></br>
                    <p th:text="|Username:| +  ' ' + *{username}"> </p>
                    <p th:text="|Email:|  +    ' ' + *{email}"></p>
                    <p th:text="|Full Name:| + ' ' + *{fullName}"> </p>
                    <p th:text="|Gender: | +   ' ' + *{gender}"> </p>
                    <p>Change password: </p>
                    <br></br>



                    <div class="">

                        <span><a class="add-crt-edit" th:href="@{/users/update-user}">Edit</a></span>
                        <span><a class="add-crt-edit"  th:href="@{/users/deleteAppClient}">Delete profile</a></span>
                    </div>
                </div>
            </div>
        </div>

</main>




<img class="blueImg3" src="/img/blueImg.png" alt="blueImg">
<img class="blueImg4" src="/img/blueImg.png" alt="blueImg">
<img class="blue" src="/img/blue.jpg" alt="blue">
<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-white">
            &copy; Hobbie 2021. All rights reserved.
        </div>
    </div>
</footer>
</body>

</html>