<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body>
    <header>
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>


    </header>

    <main>
        <section class="presentation">

            <div class="introduction"> 
                <div class="intro-text">
                    <h1>Ready to have some fun?</h1>
                    <p>Find out the best activities for you in your area. Take our personalised test and help us help you discover your new passion.</p>
                </div>
                <div class="cta">

                        <button  class="cta_second" method="POST"><a class="cta_second" href="/users/signup">Sign up</a></button>

                </div>
            </div>
            <div class="cover">
                
                <!-- <img src="img/coverImg.png" alt="coverImg"> -->
            </div>
        </section>
        <img class="blueImg" src="img/blueImg.png" alt="blueImg">
        <img class="drawing" src="img/coverImg.png" alt="coverImg">

        <footer class="footer bg-transparent  py-2">
            <div class="container-fluid text-center">
                <div class="footer-background h5 text-white">
                    &copy; Hobbie 2021. All rights reserved.
                </div>
            </div>
        </footer>

    </main>
    
</body>
</html>