<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<h1>Hello, <span th:text="${user.getUsername()}">User name</span>!</h1>
<form class="logout" method="POST"
      th:action="@{/logout}">
    <div class="nav-link text-white active h5">
        <input type="submit" class="btn btn-warning  mb-3" value="Logout">
    </div>
</form>
<div sec:authorize="hasRole('USER')">
    I'm a user.
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin Panel
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/statistics">Statistics</a>
        <a class="dropdown-item" href="/articles/add">View and edit hobby offers</a>

    </div>
</div>

</body>
</html>
