<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

        <sec:session-management invalid-session-url="/login">
            <sec:concurrency-control expired-url="/login" />
        </sec:session-management>
    <title>Hobbie</title>
</head>
    <div th:fragment="logo" class="logo-container">
        <th:block sec:authorize="!isAuthenticated()">
        <a href="/">  <img class="imgHeader" src="/img/logo.svg" alt="logo"></a>
        <a href="/">  <h4 class="logo">obbie</h4></a>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <a href="/default">  <img class="imgHeader" src="/img/logo.svg" alt="logo"></a>
            <a href="/default">  <h4 class="logo">obbie</h4></a>
        </th:block>
    </div>
        <nav th:fragment="navbar">
            <ul class="nav-links">
                <th:block sec:authorize="!isAuthenticated()">
                <li><a class="nav-link" href="/users/register-business">Register your business</a></li>
                <li><a class="nav-link" href="/users/login">Login</a></li>
                <li><a  class="nav-link"href="">Contact</a></li>
                </th:block>
                <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/default">Home</a></li>
                <li sec:authorize="hasRole('BUSINESS_USER')"><a class="nav-link" href="/hobbies/create_offer">Create new Hobby Offer</a></li>
                <li sec:authorize="hasRole('USER')"><a class="nav-link" href="/test">Take the test</a></li>
                <li sec:authorize="hasRole('USER')"><a class="nav-link" href="/users/account-info">Account</a></li>
                <li sec:authorize="hasRole('BUSINESS_USER')"><a class="nav-link" href="/users/business-account-info">Account</a></li>
                <li sec:authorize="hasRole('USER')"><a class="nav-link" href="/my-abos">My Abos</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a href="javascript: document.logoutForm.submit()" role="menuitem" class="nav-link"> Logout</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>
                </li>
            </ul>
    <!--                    <div sec:authorize="hasRole('USER')" class="cart">-->
    <!--                        $<span id="cart_total" class="simpleCart_total" th:text="${cart.total}"> 0.00 </span>-->
    <!--                        (<span id="cart_items_count" class="simpleCart_quantity" th:text="${#lists.size(cart.items)}">-->
    <!--     </span><span>Items</span>)-->  
    <!--                        <img class="imgHeader" src="/img/cart.svg" alt="cart">-->
    <!--                    </div>-->
        </nav>

<div th:fragment="cart" sec:authorize="hasRole('USER')" class="cart">

    <a href="/shoppingCart">  <img class="imgHeader" src="/img/cart.svg" alt="cart"></a>

</div>

<body>



</body>
</html>