
@media only screen and (max-width: 1590px) {
  .discover {

    padding-top: 30px;
    margin-left: 40px;
  }
  
  .user_home{
    grid-gap: 20px;
}
.nav-links{display: none;}
.cards{ margin: auto;
  grid-template-columns: repeat(12, minmax(auto, 60px));}
.card{grid-column-end: span 6;}

}


@media only screen and (max-width: 1155px) {
  .user_home{
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
}

.cards{
    margin: auto;
    grid-column: 2/ span 6;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 20px;
   
 
}
.card{
  width: 350px;
  grid-column-end: span 6;
  margin: auto;

}
}


@media only screen and (max-width: 948px) { 
  .user_home{
      grid-template-columns: 10px repeat(6, 1fr) 10px;
      grid-gap: 10px;
  }
  .nav-links{display: none;}
  .cards{
      margin: auto;
      grid-column: 2/ span 6;
      grid-template-columns: repeat(6,1fr);
      grid-gap: 20px;
  }
  .card{
    width: 300px;
    height: 100%;
    font-size: auto;
    /* grid-column-end: span 6; */
    margin: auto;
  }
} 


@media only screen and (max-width: 800px) { 
  .user_home{
      grid-template-columns: 10px repeat(6, 1fr) 10px;
      grid-gap: 10px;
  }
  .nav-links{display: none;}
  .cards{
      margin: auto;
      grid-column: 2/ span 6;
      grid-template-columns: repeat(6,1fr);
      grid-gap: 20px;
  }
  .card{
    width: 300px;
    height: 100%;
    font-size: auto;
    /* grid-column-end: span 6; */
    margin: auto;
  }
} 